<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a class="navbar-brand" href="index.html"> <img
					src="https://univerexport.rs/images/logo.png" alt="Univerexport">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Izveštaji</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="fakture.html">Fakture</a></li>
								<li><a class="dropdown-item" href="narudzbenice.html">Narudžbenice</a></li>
								<li><a class="dropdown-item" href="otpremnice.html">Otpremnice</a></li>
							</ul></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Upravljanje</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item"
									href="cenovnici_preduzeca.html">Cenovnici preduzeća</a></li>
								<li><a class="dropdown-item" href="cenovnici_partnera.html">Cenovnici
										partnera</a></li>
								<li><a class="dropdown-item" href="grupe.html">Grupe</a></li>
								<li><a class="dropdown-item" href="roba.html">Roba</a></li>
								<li><a class="dropdown-item" href="stope_poreza.html">Stope
										poreza</a></li>
								<li><a class="dropdown-item" href="poslovni_partneri.html">Poslovni
										Partneri</a></li>
								<li><a class="dropdown-item" href="mesta.html">Mesta</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link "
							href="preduzece.html">Preduzeće</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>