<div class="modal" tabindex="-1" role="dialog" id="add-faktura-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  text-light">
                <h5 class="modal-title ">Dodavanje fakture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="faktura-posloni-partner">Poslovni partner</label>
                            <select class="form-control" id="faktura-posloni-partner"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="add-faktura">Dodaj</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Odustani</button>
            </div>
        </div>
    </div>
</div>